

.catalogo {
    width: 1440px;
    height: 900px;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: center;
}


 .artigo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    gap: 90px 100px;
    margin-top: 750px;
    margin-bottom: 50px;
}

 .carde {
    box-shadow: 2px 10px 25px 10px rgba(0, 0, 0, 0.03);
    width: 330px;
    height: 460px;
}

 .carde_img {
    position: inherit;
    padding-left: 16px;
    padding-top: 10px;
}

 .carde__titulo {
    font-size: 24px;
    font-weight: 700;
    color: var(--cor-texto);
}

 .carde__paragrafo {
    font-size: 16px;
    font-weight: 300;
    color: var(--cor-texto);
    line-height: 24px;
}

 .saibamais {
    font-size: 14px;
    font-weight: 700;
    color: #C91233;
    text-decoration: none;
    position: absolute;
    padding-left: 236px;
    padding-top: 65px;
}

 .carde__titulo,
.carde__paragrafo,
.saibamais {
    padding: 15px;
}

.saibamais{
    padding-left: 236px;
    padding-top: 65px;
}


