.treinamento-card__informativo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 1529px;
    margin: 0 auto;
    gap: 36px 0px;
}

.treinamento-card {
    gap: 10px 30px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.treinamento-card__lista {
    display: block;
    gap: 10px 30px;
}


.treinamento-card__item {
    width: 390px;
    height: 380px;
    margin-left: 0 auto;
    align-items: center;
}

.treinamento-card__titulo {
    font-weight: 700;
    font-size: 32px;
    color: var(--cor-texto);
    line-height: 160%;
    margin: 62px 0;
}


.treinamento-card__paragrafo {
    font-weight: 300;
    font-size: 16px;
    color: var(--cor-texto);
    line-height: 160%;
}

.treinamento-card__link {
    font-size: 14px;
    font-weight: 700;
    color: #C91233;
    text-decoration: none;
    position: absolute;
    padding: 65px 0 0 236px;
}
